@model WebApplicationOdontoPrev.ViewModels.PerfilViewModel
@{
    ViewBag.Title = "Perfil";
}
<div class="container mt-5">
    <h2 class="text-primary text-center mb-4">Editar Perfil</h2>

    <form asp-action="SalvarPerfil" method="post" class="mt-4">
        <input asp-for="IdPaciente" type="hidden" />

        <div class="mb-3">
            <label asp-for="NmPaciente" class="form-label">Nome Completo</label>
            <input asp-for="NmPaciente" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DtNascimento" class="form-label">Data de Nascimento</label>
            <input asp-for="DtNascimento" type="date" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DsSexo" class="form-label">Sexo</label>
            <select asp-for="DsSexo" class="form-select" required>
                <option value="">Selecione</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
                <option value="N">Não Informado</option>
            </select>
            <span asp-validation-for="DsSexo" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NrTelefone" class="form-label">Telefone</label>
            <input asp-for="NrTelefone" type="tel" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="DsEmail" class="form-label">Email</label>
            <input asp-for="DsEmail" type="email" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="NmPlano" class="form-label">Plano</label>
            <input disabled asp-for="NmPlano" class="form-control" />
        </div>

        <button type="submit" class="btn btn-success w-100 mb-5">Salvar Alterações</button>
    </form>

    <nav class="navegacao-user text-center mt-4">
        <a asp-controller="PacienteHome" asp-action="Index" asp-route-id="@Model.IdPaciente"
           class="btn btn-primary btn-lg rounded-pill">
            Página Inicial
        </a>

        <a asp-controller="ExtratoPontos" asp-action="Index" asp-route-id="@Model.IdPaciente"
           class="btn btn-success btn-lg rounded-pill">
            Extrato de Pontos
        </a>

        <a asp-controller="HistoricoCheckIns" asp-action="Index" asp-route-id="@Model.IdPaciente"
           class="btn btn-warning text-white btn-lg rounded-pill">
            Histórico de Check-Ins
        </a>
    </nav>
</div>
