@{
    ViewData["Title"] = "Política de Privacidade";
}

<div class="container mt-5">
    <h1 class="text-primary">@ViewData["Title"]</h1>
    <p class="lead mt-3">
        Esta página pode ser usada para informar a política de privacidade do seu site, como o tratamento de dados dos usuários.
    </p>
</div>
